* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.flex-banner {
    flex-wrap: wrap-reverse !important;
}

.banner-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.banner-img img {
    width: 318px;
    height: 350px;
}

.banner-text h1 {
    font-size: 82px;
    font-weight: 600;
    line-height: 1;
}

.banner-text h2 {
    font-size: 26px;
    font-weight: 500;
}

.banner-text p {
    font-size: 13px;
    font-weight: 300;
    max-width: 579px;
    margin-bottom: 10px;
}

.banner-text h3 {
    font-size: 13px;
    font-weight: 600;
}

.banner-text-2 {
    text-align: right;
}

.banner-text-2 h1 {
    font-size: 82px;
    font-weight: 600;
    line-height: 1;
}

.banner-text-2 h2 {
    font-size: 26px;
    font-weight: 500;
}

.banner-text-2 p {
    font-size: 13px;
    font-weight: 300;
    max-width: 579px;
}

.banner-image-2 img {
    width: 232px;
    height: 389px;
}

.banner-text-3 h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 1;
}

.banner-flex2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-text-3 p {
    font-size: 26px;
    font-weight: 500;
}

.banner-image-3 img {
    width: 400px;
    height: 393px;
    display: flex;
}